<launch>
    <arg name="x_pos" default="0.0"/>
    <arg name="y_pos" default="0.0"/>
    <arg name="z_pos" default="0.0"/>
    <arg name="yaw"   default="0.0"/>
    <arg name="map_file"     default="$(find turtlebot3_navigation)/maps/map.yaml"/>
    <arg name="octomap_file" default=""/>
    <arg name="rviz_file" default="$(find senseless_robot_ros)/rviz/senseless_robot_default.rviz"/>
    <arg name="sim_ns" default="sim"/>

    <!-- EKF for global localization -->
    <include file="$(find senseless_robot_ros)/launch/includes/ekf.launch.xml">
        <arg name="start_x_pos" value="$(arg x_pos)"/>
        <arg name="start_y_pos" value="$(arg y_pos)"/>
        <arg name="start_yaw" value="$(arg yaw)"/>
    </include>

    <!-- Map server [optional] -->
    <group if="$(eval arg('map_file') != '')">
        <node pkg="map_server" name="map_server" type="map_server" required="true" args="$(arg map_file)"/>
    </group>

    <!-- Octomap [optional] -->
    <group if="$(eval arg('octomap_file') != '')">
        <remap from="/projected_map" to="/map" />
        <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" args="$(arg octomap_file)">
            <param name="resolution" value="0.05" />
            <!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
            <param name="frame_id" type="string" value="map" />
            <!-- maximum range to integrate (speedup!) -->
            <param name="sensor_model/max_range" value="30.0" />
            <param name="latch" value="true"/>
            <param name="pointcloud_min_z" value="-200.0"/>
            <param name="pointcloud_max_z" value="200.0"/>
            <remap from="cloud_in" to="/random/thing/" />
            <param name="pointcloud_min_z" value="-200.0"/>
            <param name="pointcloud_max_z" value="200.0"/>
            <param name="occupancy_min_z" value="0.02"/>
            <param name="occupancy_max_z" value="20"/>
        </node>
    </group>

    <!-- Rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_file)"/>

    <!-- Fixes simulated odom transform to TB odom -->
    <node pkg="tf" type="static_transform_publisher" name="odom_to_sim_odom"
            args="0 0 0 0 0 0 odom $(arg sim_ns)/odom 100"/>

    <!-- Move base for navigation -->
    <include file="$(find senseless_robot_ros)/launch/includes/move_base.launch.xml"/>

    <!-- Simulates the belief propagation -->
    <node pkg="senseless_robot_ros" type="simulated_motion_node" name="simulated_motion_node"
        required="true" output="screen"/>
    <group ns="$(arg sim_ns)">
        <include file="$(find senseless_robot_ros)/launch/includes/move_base.launch.xml">
            <arg name="tf_prefix" value="$(arg sim_ns)"/>
            <arg name="odom_topic" value="/$(arg sim_ns)/odom"/>
            <arg name="cmd_vel_topic" value="/$(arg sim_ns)/cmd_vel"/>
        </include>        
    </group>
</launch>
